@model FavoriteViewModel
@{
    ViewBag.Title = "Favorite";
}

<main>
    <!-- 區段1 -->
    <div class="unitContainer">
        <h1 class="titleService">最愛店家</h1>
    </div>

    <div class="unitContainer">
        <div class="row row-cols-1  row-cols-lg-3 ">
            @if (Model.favoriteStores.Count == 0)
            {
                <div class="emptyStore">
                    <h3>您還沒有最愛店家</h3>
                    <button type="button" class="btn btn-secondary btn-block" onclick="location.href='@Url.Action("Index", "Home")'">回首頁</button>
                </div>
            }
            else
            {
                foreach (var f in Model.favoriteStores)
                {
                    <!-- 卡片區塊 -->
                    <div class="cardCol">
                        <div class="foodCard" style="cursor:pointer;">
                            <a href="~/store/restaurant/@f.StoreId" style="text-decoration:none;">
                                <div class="headline">
                                    <img class="pic" src="@f.StoreImg">
                                    <div class="dark"><i class="fas fa-moon"></i>已關閉</div>
                                    @if (f.DiscountTag == true)
                                    {
                                        <div class="Tag">活動</div>
                                    }
                                </div>
                                <div class="foodText">
                                    <div class="shopNameandPoint">
                                        <div class="shopName">@f.StoreName</div>
                                        @if (f.StoreScore >= 1)
                                        {
                                            <div class="point">@f.StoreScore.ToString("#0.0")</div>
                                        }
                                        else
                                        {
                                            <div class="point">-</div>
                                        }
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="touchZone" style="cursor:pointer;">
                            <div class="favoriteHeart" id="store_@f.StoreId">
                                <div class="switchP" @*onclick="clickChangeHeart(@f.StoreId)"*@>
                                    <!-- 空心 -->
                                    <i class="far fa-heart hEmpty"></i>
                                    <!-- 實心 -->
                                    <i class="fas fa-heart hSolid"></i>
                                    <i class="fas fa-heart hSolid4hover"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</main>

@section topCSS
    {
    <style>
        .emptyStore {
            margin-inline: auto;
        }

            .emptyStore h3 {
                font-size: 28px;
                margin: revert;
                text-align: center;
            }

            .emptyStore button {
                padding: 10px;
            }

        main {
            max-width: 1920px;
            margin: auto;
            padding: 0 30px;
        }

        .pic {
            width: 100%;
        }

        .dark {
            position: absolute;
            background-color: rgba(24, 24, 24, 0.788);
            top: 0;
            width: 100%;
            height: 100%;
            color: white;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: none;
        }

        .unitContainer {
            display: block;
            max-width: 98%;
            width: 100%;
            margin-right: auto;
            margin-left: auto;
        }

        .row {
            margin-left: 0;
            margin-right: 0;
        }

        .titleService {
            margin: 20px 0 20px 0;
        }

        .Tag {
            line-height: 16px;
            display: inline-block;
            background-color: #05a357;
            border-radius: 0 24px 24px 0;
            color: #ffff;
            font-size: 14px;
            padding: 4px 12px;
            position: absolute;
            left: 0;
            top: 10px;
        }

        .headline {
            position: relative;
            width: 100%;
            height: 164px;
        }

            .headline img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        .cardCol {
            margin-bottom: 30px;
            display: flex;
            position: relative;
        }

        .touchZone {
            position: absolute;
            top: 0;
            right: 0;
        }

        .foodCard {
            width: 100%;
        }

        .favoriteHeart {
            display: flex;
            height: 28px;
            width: 50px;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            right: 0;
            top: 10px;
        }

        .switchP {
            position: relative;
            display: flex;
            width: 20px;
            height: 20px;
            justify-content: center;
            align-items: center;
        }

        .hSolid4hover {
            z-index: 2;
            position: absolute;
            color: rgb(177, 177, 177);
            display: none;
        }

        .hEmpty {
            position: absolute;
            color: rgb(253, 253, 253);
            display: none;
        }

        /*  .switchP:hover .hEmpty {
            display: none;
        }

        .switchP:hover .hSolid4hover {
            z-index: 2;
            display: block;
        }*/

        .hSolid {
            z-index: 2;
            position: absolute;
            color: rgb(253, 253, 253);
            display: block;
        }

        .shopNameandPoint {
            display: flex;
            font-weight: 500;
            width: 100%;
            margin-top: 12px;
            align-items: center;
            flex-flow: wrap row;
            justify-content: space-between;
            color: black;
        }

        .point {
            display: flex;
            height: 28px;
            width: 28px;
            border-radius: 50%;
            background: #EEEEEE;
            font-size: 12px;
            justify-content: center;
            align-items: center;
        }

        .shopName {
            font-size: 20px;
        }

        .TWD {
            display: flex;
            color: black;
        }

        .dotSpace {
            margin: 0 10px 0 10px;
        }
        .modal-backdrop {
            z-index: -1000;
            background-color: transparent;
        }

        @@media screen and (max-width:992px) {
            .favoriteHeart {
                display: flex;
                height: 28px;
                width: 50px;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 0;
                top: 10px;
            }
            .modal-backdrop {
                z-index: -1000;
                background-color: transparent;
            }

        }

        @@media screen and (min-width:992px) {
            main {
                padding: 0;
            }

            .titleService {
                margin: 20px 0 20px 0;
                padding: 0 15px 0 15px;
            }

            .cardCol {
                margin-bottom: 30px;
                display: flex;
                position: relative;
                padding-right: 15px;
                padding-left: 15px;
            }
            .modal-backdrop {
                z-index: -1000;
                background-color: transparent;
            }

        }
    </style>
}

@section endJS
    {
    <Script>
        //愛心
        let i = 0;
        let heartSolids = document.querySelectorAll(".hSolid");
        let heartEmptys = document.querySelectorAll(".hEmpty");
        let hearts = document.querySelectorAll(".switchP")

        hearts.forEach((heart, index) => {
            hearts[index].onclick = function () {
                if ($('.hEmpty').css('display') === "block") {
                    heartEmptys[index].style.display = "none";
                    heartSolids[index].style.display = "block";
                }
                else {
                    heartEmptys[index].style.display = "block";
                    heartSolids[index].style.display = "none";

                    $.ajax({
                        type: 'POST',
                        url: '/Member/FavoriteStoreDelete',
                        data: { 'store': hearts[index].offsetParent.attributes[1].value }
                    });

                }
            }
        })



                    //function clickChangeHeart(storeId) {
                    //    //愛心
                    //    let i = 0;
                    //    let heartSolids = document.querySelectorAll(".hSolid");
                    //    let heartEmptys = document.querySelectorAll(".hEmpty");
                    //    let hearts = document.querySelectorAll(".switchP")

                    //    hearts.forEach((heart, index) => {
                    //        hearts[index].onclick = function () {
                    //            console.log(hearts)
                    //            if ($('.hEmpty').css('display') === "block") {
                    //                heartEmptys[index].style.display = "none";
                    //                heartSolids[index].style.display = "block";
                    //            }
                    //            else {
                    //                heartEmptys[index].style.display = "block";
                    //                heartSolids[index].style.display = "none";

                    //                $.ajax({
                    //                    type: 'POST',
                    //                    url: '/Member/FavoriteStoreDelete',
                    //                    data: { 'storeId': storeId}
                    //                });

                    //            }
                    //        }
                    //    })

                    //}




                    //window.onload = function () {
                    //    canntService();
                    //}

                    //function clickChangeC() {
                    //    let solid = event.path[1].childNodes[7];
                    //    let empty = event.path[1].childNodes[3];

                    //    if (solid.style.display == "block") {
                    //        solid.style.display = "none"
                    //        empty.style.display = "block"
                    //    }
                    //    else {
                    //        solid.style.display = "block"
                    //        empty.style.display = "none"
                    //    }
                    //};

                    //function canntService() {
                    //    let darkOn = document.getElementById("serviceOff");
                    //    darkOn.style.display = "flex"
                    //};

    </Script>
}



