@model HolyShong.ViewModels.MemberLoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container loginArean">
        <div class="login pt-5">
            <div>
                <h4>歡迎回來</h4>
                <div class="form-group">
                    <label for="account">Email</label>                    
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" , @id = "account" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="password">密碼</label>                    
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" , @id = "password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                <input type="hidden" name="url" value="@ViewBag.Url" />
                </div>
                    <button type="submit" class="btn w-100" id="nextbtn">下一步</button>
                </div>
                <div class="my-4">
                    <div>還沒用過 HolyShong 嗎？<a href="@Url.Action("Register")">建立帳戶</a></div>                    
                </div>
            </div>
    </div>

}



@section topCSS
{
    <style>
        form {
            margin:auto 0;
        }
        * {
            font-size: 16px;
        }

        .loginArean {
            flex-grow: 1;
        }

        .login {
            margin: auto;
        }

        h4 {
            font-size: 26px;
            margin-bottom: 30px;
        }

        #account {
            padding: 8px 18px;
            margin-bottom: 10px;
        }

        #password {
            padding: 8px 18px;
            margin-bottom: 24px;
        }

        #nextbtn {
            height: 48px;
            background-color: rgb(255,205,0);
        }

            #nextbtn:hover {
                background-color: #FFC20E;
            }

        .login a {
            text-decoration: none;
        }

            .login a:hover {
                text-decoration: underline;
            }

        @@media screen and (min-width: 992px) {
            .login {
                margin: auto;
                width: 550px;
            }
        }
    </style>
}

@section endJS
    {
    <script>
        let email = document.getElementById("account");
        let password = document.getElementById("password");

        //let nextbtn = document.getElementById("nextbtn");

        //if (email.value != "" && password.value != "") {

        //    nextbtn.addEventListener('click', function () {
        //        nextbtn.setAttribute('disabled', '');
        //    })
        //}
        //else {
        //    nextbtn.removeAttribute('disabled', '');
        //}

        let nextbtn = document.getElementById('nextbtn');
        nextbtn.addEventListener('click', function () {
            console.log('a');
            
        })
        let isClick = false;
        function isLogin() {
            isClick = true;

            console.log(nextbtn);
            console.log(isClick);
            if (isClick) {
                nextbtn.setAttribute('disabled', '');
                debugger;
            }
            else {

            }
        }
            
    </script>
    }

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}